{% extends 'app/doctor/base_nav.html' %} 

{% load static %} 

{% block title %}Медицинские карты{% endblock title %} 

{% block content %}

<section class="main">
    <div class="container">
        <div class="header">
            <div class="header_conatiner">
                <h1 class="header_title">МЕДИЦИНСКИЕ КАРТЫ</h1>
            </div>
            <!-- /.header_conatiner -->
        </div>
        <!-- /.header -->
        <form action="{{ data.medicalRecord }}" method="POST" class="section" name='form_name'>
            {% csrf_token %}
            <div class="left_block">
                <div class="left_items">
                    <p class="input_title symptoms">Номер медицинской карты*&nbsp;&nbsp;</p>
                    {{ form.number_of_medical_card }}
                </div>
                <!-- /.left_items -->
                <div class="left_items">
                    <p class="input_title">Фамилия пациента*</p>
                    {{ form.surname_patient }}
                </div>
                <!-- /.left_items -->
                <div class="left_items">
                    <p class="input_title symptoms">Имя пациента*&nbsp;&nbsp;</p>
                    {{ form.name_patient }}
                </div>
                <!-- /.left_items -->
                <div class="left_items">
                    <p class="input_title symptoms">Отчество пациента*&nbsp;&nbsp;</p>
                    {{ form.middlename_patient }}
                </div>
                <!-- /.left_items -->
                <div class="left_items">
                    <p class="input_title symptoms">Симптомы*&nbsp;&nbsp;
                        <a href="{% url 'symptom' %}"><i style="color: green" class="fas fa-plus"></i></a></p>
                    {{ form.symptoms_patient }}
                </div>
                <!-- /.left_items -->
                <div class="buttons">
                    <button type="submit" class="left_button">ПРИМЕНИТЬ</button>
                    <a href="{% url 'medicalRecord' %}" class="link">
                        <div class="left_button cancel">ОТМЕНА</div>
                    </a>
                </div>
                <!-- /.buttons -->
            </div>
            <!-- /.left_block -->
            <div class="right_block">
                {% if elements %}
                <table class="table symptom" border="0" cellspacing="0">
                    <tr class="header_table">
                        <th width="10%" colspan="2">Действия</th>
                        <th width="15%">№ мед. карты</th>
                        <th width="50%">Пациент</th>
                        <th>Симптомы</th>
                    </tr>
                    {% for el in elements %}
                    <tr class="header_table">
                        <td>
                            <a href="{% url 'medicalRecord_update' el.id  %}"><i style="color:rgb(209, 149, 36)" class="fas fa-edit"></i></a>
                        </td>
                        <td>
                            <a href="{% url 'medicalRecord_delete' el.id  %}"><i style="color:rgb(196, 14, 14)"  class="fas fa-trash-alt"></i></a>
                        </td>
                        <td class="color">{{ el.number_of_medical_card}}</td>
                        <td>{{ el.surname_patient}} {{ el.name_patient}} {{ el.middlename_patient}}</td>
                        <td class="color" style="padding:5px" width="30%">
                        {% for s in el.symptoms_patient.all%}
                            <p class="stroke">{{ s.name_symptom }}</p>
                        {% endfor %}
                        </td>
                    </tr>
                    {% endfor %} 
                    {% else %}
                    <tr class="header_table">
                        <td width=90%>
                            <p style="margin:20px 20px 20px 20px" class="input_title">У вас нет записей</p>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <!-- right_block -->
        </form>
        <!-- /.section -->

        <form action="{% url 'medicalRecord' %}" method="GET">
            {% csrf_token %}
            <div class="bottom_panel">
                <a href="#" class="back">НАЗАД</a>
                <div class="search_panel">
                    <input type="text" class="search" name="search" />
                    <button type="submit" class="bottom_button">ПОИСК</button>
                </div>
                <!-- /.search_panel -->
            </div>
            <!-- /.bottom_panel -->
        </form>
    </div>
    <!-- /.container -->
</section>
<!-- /.main -->
{% endblock content %}