{% extends 'app/doctor/base_nav.html' %} {% load static %} {% block title %}Рекомендации{% endblock title %} {% block content %}

<section class="main">
    <div class="container">
        <div class="header">
            <div class="header_conatiner">
                <h1 class="header_title">РЕКОМЕНДАЦИИ</h1>
            </div>
            <!-- /.header_conatiner -->
        </div>
        <!-- /.header -->
        <form action="{{ data.patient }}" method="POST" class="section" name='form_name'>
            {% csrf_token %}
            <div class="left_block">
                <div class="left_block_container">
                    <div class="left_items">
                        <p class="input_title">Дата назначения*</p>
                        <input class="input_text" type="date" name="description_recommendation">
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Период*</p>
                        <input class="input_text" type="date" name="period_recommendation">
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Фамилия*</p>
                        {{ form.surname_patient }}
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Имя*</p>
                        {{ form.name_patient }}
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Отчество*</p>
                        {{ form.middlename_patient }}
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Описание рекомендации*</p>
                        {{ form.description_recommendation }}
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Email*</p>
                        {{ form.email }}
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Пол*</p>
                        {{ form.gender_patient }}
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Санитарное просвещение*</p>
                        {{ form.enlightenment_patient }}
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Дата рождения*</p>
                        <input class="input_text" type="date" name="birthday_patient">
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Врач*</p>
                        {{ form.fk_account }}
                    </div>
                    <!-- /.left_items -->

                    <div class="left_items">
                        <p class="input_title">Номер медицинской карты*</p>
                        {{ form.number_of_medical_card }}
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Симптомы*&nbsp;&nbsp;
                        <a href="{% url 'symptom' %}"><i style="color: green" class="fas fa-plus"></i></a></p>
                        {{ form.symptoms_patient }}
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Болезни детства*&nbsp;&nbsp;
                        <a href="{% url 'disease' %}"><i style="color: green" class="fas fa-plus"></i></a></p>
                        {{ form.childhood_diseases }}
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Болезни родителей*&nbsp;&nbsp;
                        <a href="{% url 'disease' %}"><i style="color: green" class="fas fa-plus"></i></a></p>
                        {{ form.relatives_diseases }}
                    </div>
                    <!-- /.left_items -->
                    <div class="left_items">
                        <p class="input_title">Хронические заболевания*</p>
                        {{ form.chronic_disease }}
                    </div>
                    <!-- /.left_items -->
                </div>
                <!-- /.left_block_container -->
                <div class="buttons">
                    <button type="submit" class="left_button">ПРИМЕНИТЬ</button>
                    <a href="{% url 'recommendation' %}" class="link">
                        <div class="left_button cancel">ОТМЕНА</div>
                    </a>
                </div>
                <!-- /.buttons -->
            </div>
            <!-- /.left_block -->
            <div class="right_block">
                {% if elements %}
                <table class="table patient" border="0" cellspacing="0">
                    <tr class="header_table">
                        <th width="5%">Действия</th>
                        <th>№</th>
                        <th>ФИО пациента</th>
                        <th>Пол</th>
                        <th>СП</th>
                        <th>ФИО врача</th>
                        <th>Описание рекомендации</th>
                        <th>Дата выдачи</th>
                        <th>Период</th>
                        <th>№ Мед. карты</th>
                        <th width="30px">Симтомы</th>
                        <th>Белезни детства</th>
                        <th>Болезни родственников</th>
                        <th>Хронические заболевания</th>
                    </tr>
                    {% for el in elements %}
                    <tr class="header_table">
                        <td class="header_links">
                            <a class="header_link" href="{% url 'recommendation_update' el.id  %}"><i style="color:rgb(209, 149, 36)" class="fas fa-edit"></i></a>
                            <a class="header_link" href="{% url 'patient_detail' el.pk  %}"><i class="fas fa-plus-square"></i></a>
                            <a class="header_link" href="{% url 'recommendation_delete' el.id  %}"><i style="color:rgb(196, 14, 14)"  class="fas fa-trash-alt"></i></a>
                        </td>
                        <td class="color" width="2%">{{ el.id }}</td>
                        <td width="13%">{{ el.surname_patient }} {{el.name_patient}} {{el.middlename_patient}}</td>
                        <td class="color" width="5%">{{ el.gender_patient }}</td>
                        <td width="5%">{{ el.enlightenment_patient }}</td>
                        <td class="color" width="10%">{{ el.fk_account.surname_doctor }} {{el.fk_account.name_doctor}} {{el.fk_account.middlename_doctor}}</td>
                        <td width="10%">{{ el.description_recommendation }}</td>
                        <td class="color" width="7%">{{ el.date_recommendation }}</td>
                        <td width="7%">{{ el.period_recommendation }}</td>
                        <td class="color" class="color" width="5%">{{ el.number_of_medical_card }}</td>
                        <td width="5%">
                            <div class="elements_container">
                                {% for s in el.symptoms_patient.all %}
                                <p class="stroke">{{ s.name_symptom }}</p>
                                {% endfor %}
                            </div>
                            <!-- /.elements_container -->
                        </td>
                        <td class="color" width="8%">
                            <div class="elements_container">
                                {% for s in el.childhood_diseases.all %}
                                <p class="stroke">{{ s.name_disease }}</p>
                                {% endfor %}
                            </div>
                            <!-- /.elements_container -->
                        </td>
                        <td width="8%">
                            <div class="elements_container">
                                {% for s in el.relatives_diseases.all %}
                                <p class="stroke">{{ s.name_disease }}</p>
                                {% endfor %}
                            </div>
                            <!-- /.elements_container -->
                        </td>
                        <td class="color" width="10%">{{ el.chronic_disease }}</td>
                    </tr>
                    {% endfor %} {% else %}
                    <tr class="header_table">
                        <td width=90%>
                            <p style="margin:20px 20px 20px 20px" class="input_title">У вас нет записей</p>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <!-- right_block -->
        </form>
        <!-- /.section -->

        <form action="{% url 'recommendation' %}" method="GET">
            {% csrf_token %}
            <div class="bottom_panel">
                <a href="#" class="back">НАЗАД</a>
                <div class="search_panel">
                    <input type="text" class="search" name="search" />
                    <button type="submit" class="bottom_button">ПОИСК</button>
                </div>
                <!-- /.search_panel -->
            </div>
            <!-- /.bottom_panel -->
        </form>
    </div>
    <!-- /.container -->
</section>
<!-- /.main -->
{% endblock content %}